.about {
  margin: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
  padding-bottom:80px;
  overflow-y: scroll;
}

.bio {
 
  width: 45vw;
  font-size: x-large;
  color: black;
  border-radius: 40px; 
}

img {
  margin-top: 20px;
  border-radius: 90%;
  height: 80%;
  width: 35vw;
  border: 2px solid rgb(0, 0, 0);
}

