.home::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(/Peru.jpeg)  url(/Peru3.jpeg)  url(/Peru5.jpeg) url(/Mexico7.jpeg);
}

@keyframes imageShift {
  0% {
    background-image: url(/Peru.jpeg);
    background-size: cover;
    width: 400px;
    height: 400px;
  }
  25% {
    background-image: url(/Peru3.jpeg);
    background-size: cover;
    width: 400px;
    height: 400px;
  }
 
 50% {
    background-image: url(/Peru5.jpeg);
    background-size: cover;
    width: 400px;
    height: 400px;
  }
  100% {
    background-image: url(/Mexico7.jpeg);
    background-size: contain;
    width: 400px;
    height: 400px;
  }

}

.home {
  /* position: fixed; */
  left: 0px;
  /* min-width: 400px;
  min-height: 400px; */
  color: white;
  animation: imageShift infinite 25s linear;
}
