.resumeBody {
  color: black;
  margin-top: 80px;
  background-image: url("/paper.jpg");
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: -60px;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.education p {
  display: flex;
  flex-direction: row;
  text-align: start;
  margin: 6px;
}

strong {
  color: rgb(206, 97, 97);
}

.contactInfo a {
  color: black;
}

h2 {
  color: brown;
}

.githubIcon {
  width: 20px;
  height: 20px;
  top: 10px;
  border: none;
  position: relative;
  top: 4px;
}

.githubIcon:hover {
  width: 20px;
  height: 20px;
  padding: 3px;
  background-color: white;
  border: 1px solid brown;
  position: relative;
  top: 8px;
}

.experience h3 {
  text-align: center;
  margin: 0;
}
